<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <filter>
        <filter-name>LoginFilter</filter-name>
        <filter-class>filter.LoginFilter</filter-class>
    </filter>
    <filter>
        <filter-name>AdminFilter</filter-name>
        <filter-class>filter.AdminFilter</filter-class>
    </filter>
    <filter>
        <filter-name>AirlineStaffFilter</filter-name>
        <filter-class>filter.AirlineStaffFilter</filter-class>
    </filter>
    <filter>
        <filter-name>NewsAndDiscountFilter</filter-name>
        <filter-class>filter.NewsAndDiscountFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>LoginFilter</filter-name>
        <url-pattern>/accountController</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>AdminFilter</filter-name>
        <url-pattern>/accountController</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>NewsAndDiscountFilter</filter-name>
        <url-pattern>/newsManagement</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>NewsAndDiscountFilter</filter-name>
        <url-pattern>/discountManagement</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>AirlineStaffFilter</filter-name>
        <url-pattern>/planeCategoryController</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>AirlineStaffFilter</filter-name>
        <url-pattern>/planeCategoryController</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>AirlineStaffFilter</filter-name>
        <url-pattern>/seatCategoryController</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>AirlineStaffFilter</filter-name>
        <url-pattern>/flightManagement</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>AirlineStaffFilter</filter-name>
        <url-pattern>/flightDetailManagement</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>AirlineStaffFilter</filter-name>
        <url-pattern>/TicketController</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>AirlineStaffFilter</filter-name>
        <url-pattern>/OrderController</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>AirlineStaffFilter</filter-name>
        <url-pattern>/feedbackController</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>AirlineStaffFilter</filter-name>
        <url-pattern>/RefundController</url-pattern>
    </filter-mapping>
    
    
    <servlet>
        <servlet-name>AccountControllerServlet</servlet-name>
        <servlet-class>controller.AccountControllerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterServlet</servlet-name>
        <servlet-class>controller.RegisterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>controller.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>controller.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DashboardAirlineServlet</servlet-name>
        <servlet-class>controller.DashboardAirlineServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AirlineManagementServlet</servlet-name>
        <servlet-class>controller.AirlineManagementServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BaggageManagementServlet</servlet-name>
        <servlet-class>controller.BaggageManagementServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ForgetPasswordServlet</servlet-name>
        <servlet-class>controller.ForgetPasswordServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FlightManagementServlet</servlet-name>
        <servlet-class>controller.FlightManagementServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OrderManagementServlet</servlet-name>
        <servlet-class>controller.OrderManagementServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginGoogleHandler</servlet-name>
        <servlet-class>controller.LoginGoogleHandlerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NewsManagementServlet</servlet-name>
        <servlet-class>controller.NewsManagementServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>News</servlet-name>
        <servlet-class>controller.News</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CancelOrderRequestServlet</servlet-name>
        <servlet-class>controller.CancelOrderRequestServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AccountControllerServlet</servlet-name>
        <url-pattern>/accountController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterServlet</servlet-name>
        <url-pattern>/register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DashboardAirlineServlet</servlet-name>
        <url-pattern>/airlineController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AirlineManagementServlet</servlet-name>
        <url-pattern>/airlineManagement</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BaggageManagementServlet</servlet-name>
        <url-pattern>/baggageManagement</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ForgetPasswordServlet</servlet-name>
        <url-pattern>/forgetPassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FlightManagementServlet</servlet-name>
        <url-pattern>/flightManagement</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OrderManagementServlet</servlet-name>
        <url-pattern>/OrderController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginGoogleHandler</servlet-name>
        <url-pattern>/loginGoogleHandler</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CancelOrderRequestServlet</servlet-name>
        <url-pattern>/cancelOrder</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>News</servlet-name>
        <url-pattern>/News</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewsManagementServlet</servlet-name>
        <url-pattern>/newsManagement</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>home</welcome-file>
    </welcome-file-list>
</web-app>
