:root {
    --flyezyMainColor: rgb(60, 110, 87);
}

table.entity {
    border-collapse: collapse;
    border: 1px solid #ddd;
    font-family: Arial, sans-serif;
}

table.entity thead {
    background-color: #f2f2f2;
}

table.entity th,
table.entity td {
    border: 1px solid #ddd;
    padding: 6px;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    word-wrap: break-word;
    font-size: 14px;
}

table.entity th {
    background-color: var(--flyezyMainColor);
    color: white;
}

table.entity td img {
    height: 80px;
    width: 80px;
    object-fit: cover;
}

table.entity td a {
    text-decoration: none;
    margin-right: 10px;
}

table.entity td a:hover {
    text-decoration: underline;
}


.filterController{
    font-size: 14px;
    float:left
}

.filterController button{
    padding: 6px;
}

.filterElm{
    margin-right: 15px;
    padding: 0.3%;
}

.box {
    margin: 100px auto;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.1), 0 0 1px 0 rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 35px !important;
    font-size: 16px;
    width: max-content;
}

.editor{
    padding-left: 20px;
}


