body {
    font-family: "Reddit Sans", sans-serif !important;
    border-color: white !important;
}
:root {
    --flyezyMainColor: rgb(60, 110, 87);
}


#home-search-button{
    padding: 5px;
}

#home-search {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.home-search-item {
    position: relative;
    margin: auto 0;
    margin-right: 20px;
}

.home-search-item strong {
    margin-bottom: 8px;
}


#priceValue {
    font-weight: bold;
    color: #d32f2f;
    margin-bottom: 8px;
}

input {
    padding: 6px 8px;
    border: 1px solid #aaa;
    border-radius: 5px;
}

#home-search-button {
    background-color: #ffce00;
    color: #000;
    border: none;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: 650;
    width: 115px;
}

#home-search-button:hover {
    background-color: #ffc107;
}
.result-box{
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.1), 0 0 1px 0 rgba(0, 0, 0, 0.1);
    margin: 0;
    position: absolute;
    background-color: white;
    width: 100%;
    border-radius: 5PX
}
.result-box ul{
    padding: 0;
    margin: 0
}

.result-box ul li{
    list-style: none;
    padding: 10px 10px;
}

.result-box ul li:hover{
    background: rgb(60, 110, 87);
    color: white
}


.loader {
    background-image: url('image/background.png');
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    transition: all 0.75s ease 1s;
}

.loader-hidden {
    opacity: 0;
    visibility: hidden;
}

.loader::after {
    content: "";
    width: 75px;
    height: 75px;
    border: 15px solid white;
    border-top-color: var(--flyezyMainColor);
    border-radius: 50%;
    animation: loading 0.75s ease infinite;
}

@keyframes loading {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

#introduction {
    padding: 20px;
    background-image: linear-gradient(rgb(60, 110, 87) ,white);
    text-align: center;
    color: white;
    height: 150px;
}

#introduction h1 {
    color: white;
    margin-top: 15px
}

#promotion {
    display: flex;
    justify-content: space-around;
    margin: 50px 0;
    font-size: 16px;
}

#promotion h3 {
    color: rgb(60, 110, 87);
    font-size: 20px
}

#promotion p {
    text-align: justify
}

.promotion-item {
    text-align: center;
    width: 45%;
    margin: 10px;
    padding: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    background-color: #fff;
}

.promotion-item img {
    max-width: 100%;
    height: 100%;
    border-radius: 5px;
    object-fit: cover;
}
#statistics {
    padding: 50px 20px;
    background: linear-gradient(135deg, rgb(60, 110, 87), rgb(80, 125, 104));
    text-align: center;
    color: white;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 20px;
}

.statistics-heading {
    width: 100%
}


.stat-item {
    margin: 20px;
    padding: 30px;
    border-radius: 15px;
    background-color: rgb(80, 125, 104);
    width: 300px;
    transition: transform 0.3s, box-shadow 0.3s;
}

.stat-item:hover {
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.stat-item h3 {
    font-size: 3em;
    margin-bottom: 10px;
}

.stat-item p {
    font-size: 1.3em;
}

.stat-icon {
    font-size: 4em;
    margin-bottom: 20px;
    color: rgba(255, 255, 255, 0.8);
}


.icon{
    margin-top: 30px
}

.icon svg {
    width: 125px;
    height: 125px
}

.ticket-button-container {
    text-align: center;
    padding-bottom: 30px;
    margin-top: 50px
}

.ticket-button {
    display: block;
    width: 200px;
    font-weight: 500;
    padding: 15px 30px;
    margin: 0 auto;
    background-color: rgb(255, 193, 7);
    color: black;
    text-decoration: none;
    font-size: 1.2em;
    border-radius: 30px;
    transition: background-color 0.3s, transform 0.3s;
}

.ticket-button:hover {
    background-color: rgb(218, 165, 0);
    transform: scale(1.05);
    text-decoration: none;
    color: black;
}
